.main {
    width: 90%;
    margin: auto;
    /* background-color: grey; */
    font-size: 100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head {
    width: 100%;
    background: black;
    text-align: center;
    border: 4px double grey;
    margin-bottom: 20px;
}

.head h1 {
    padding-top: 5px;
}

.head h3{ 
    padding-bottom: 10px;
}

.body {
    display: flex;
}


.left {
    width: 30%;
    background-color: grey;

}

.game {
    width: 100%;
    margin: 0 1%;
    background-color: grey;
    
}

.game h2 , .game p {
    text-align: center;
}


.game-block {
    border-radius: 4px;
    text-align: center;
    background-color: white;
    width: 90%;
    color: black;
    margin: 5%;
}

.right  {
    width: 30%;
    background-color: grey;
}

.yourself-img {
    width: 35%;
    border: grey double 4px;
}

.score {
    display: flex;
    
}

.score p {
    text-align: center;
}

#get_num {
    text-align: center;
    width: 90%;
    outline: none;
    border: none;
    font-size: inherit;
}

.btn {
    padding: 3% 13%;
}

.btn p {
    padding: 3px 10px;
    border-radius: 7px;
    background-color: aqua;
}

.status {
    text-align: center;
    margin: 10px 0;
    /* color: red; */
}


.left p {
    text-align: center;
}

.foot {
    width: 100%;
    background: black;
    text-align: center;
    border: 4px double grey;
    margin-top: 20px;
}

a {
    color: white;
}